*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
strong{
 color: #EE24FF;
}
.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 626px;
  height: 486px;
}
.container img{
  margin: 0px 138px;
}
.tittle{
  margin: 32px 65px 16px 65px;
}
.tittle h1{
  font-family: Dosis;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  color: #3F3D56;
}
.description{
  margin: 0px 36px 0px 50px;
}
.description p{
  color: #828282;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.description strong{
  color: #3F3D56;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0px auto;
  max-width: 1024px;
  height: 245px;
}
.nav{
  padding-bottom: 60px;
}
.nav ul{
  display: flex;
  gap: 42px;
}
.nav a{
  font-family: Open Sans;
  font-size: 15px;
  color: #3F3D56;
  font-weight: 700;
  line-height: 147.682%;
}
@media(max-width: 620px){
  .description{
    margin: 0px;
    padding: 0px 15px;
  }
  .tittle{
    margin: 32px 25px 16px 25px;
  }
  .tittle h1{
    font-size: 30px;
  }
}
@media(max-width: 560px){
  .container img{
    margin: 0px 80px;
  }
}
@media(max-width: 480px){
  .container img{
    margin: 0px 50px;
  }
}
@media(max-width: 400px){
  .tittle h1{
    font-size: 25px;
  }
}